.donate {
  float: right;
  margin: -63px 160px 0 0;
  padding: 15px;
}

.donate.png {
    margin: 15px 0 0 -20px;
}

.donate > h3 {
  margin: -45px 0 0 85px;
}


.community-dev {
  padding: 0 0 0 15px;
  margin: 15px 0 0 0;
  float: left;
}

header {
  background-color: #006BBB;
  height: 110px;
  margin: 0 0 0 0;

}

header > img {
  margin: 5px 0 0 0;
  padding: 5px 0 0 0;
  border-style: solid;
  border-color: #FFF;
}


.headline-container {
  background-image: url("main-photo.jpg");

  background-size: cover;
  width: 1140px;
  height: 570px;

}

.headline-text {
  width: 450px;
  margin: 35px 15px 0 0;
  float: right;
  color: #00355B;
  font-weight: bold;
}


.main-navigation {
  margin: 15px 0 0 0;
  float: right;
}


.main-navigation ul li {
  display: inline;
  color: #FFF;
  margin: 0 15px 0 0;

}

.mid-navigation {
  width: 1140px;
  height: 100px;
  background-color: #FFB133;
  margin: -115px 0 0 0;
}

.model-tab {
  margin: 15px 0 0 435px;
}

.model-text {
  width: 575px;
}

.our_model.png {
  margin: 0 0 0 50px;
}

.our-model.png {
  margin: 0 40px 0 600px;
}

.support-us {
  margin: 0 0 0 495px;
  padding: 15px 0 0 0;
}

.support-us > h3 {
  margin: -45px 0 0 85px;
}


.support.png {
  margin: 0 0 0 -20px;
}

img {
  max-width: 100%
  height: auto;
}
