header {
  background-color: blue;
}

img {

}

.headline-container {
  background-image: url("main-photo.jpg");
  border-style: solid;
  background-size: cover;
  width: 1140px;
  height: 570px;

}



.main-navigation {
  margin: 0 0 0 0;
  float: right;
}


.main-navigation ul li {
  display: inline;
  color: #FFF;
  margin: 0 15px 0 0;

}
