a {

}



a.btn.btn-default {
  border-color: #FFF
  border: solid 15px;
  background-color: #006BBB;
  color: #FFF;
  opacity: 0.95;
}

.container {
  background-color: #E7EAED;
}



.address-info {
  width: 250px;
  margin: 15px 0 0 0;
}

.career-nav {
  margin: -125px 0px 0 965px;
}

.check.png {
  margin: 0 0 0 0;
}

.community-dev {
  padding: 0 0 0 15px;
  margin: 15px 0 0 0;
  float: left;
}


.development-nav {
  margin: -107px 0px 0px 545px;
}

div {
  margin: 0 0 0 0;
}

.donate {
  float: right;
  margin: -63px 160px 0 0;
  padding: 15px;
}

.donate.png {
    margin: 15px 0 0 -20px;
}

.donate > h3 {
  margin: -45px 0 0 85px;
}

.donate-today {
  margin: 85px 195px 0 0;
  float: right;
  width: 250px;
}

footer {
  background-color: #E7EAED;
  height: 300px;
  margin: 0 0 0 0;
  text-decoration: none;
  font-size: 0.80em;
}


header {
  background-color: #006BBB;
  height: 150px;
  margin: 0 0 0 0;
  opacity: 0.95;

}

header > img {
  margin: 15px 0 0 0;
  padding: 5px 0 0 0;
  border-style: solid;
  border-color: #FFF;
}

header > .top_r2_c2 {
  margin: 15px 0 0 0;
}


.headline-container {
  background-image: url("main-photo.jpg");

  background-size: cover;
  width: 1140px;
  height: 570px;

}

.headline-text {
  width: 450px;
  margin: 35px 15px 0 0;
  float: right;
  color: #00355B;
  font-weight: bold;
}



.last-wrapper {
  margin: 0 0 0 0;
  background-color: #006BBB;
  height: 300px;
  color: #FFF;
  background-image: url("wrapper-photo.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: -230px -130px;
  background-blend-mode:  darken;

}

.last-wrapper::after {
  opacity: 0.5;

}

.leadership-nav {
  margin: -95px 0 0 350px;
}

.main-navigation {
  margin: 15px 0 0 0;
  float: right;
}


.main-navigation ul li {
  display: inline;
  color: #FFF;
  margin: 0 15px 0 0;
  text-decoration: none;

}

.main-navigation ul li a  {
  text-decoration: none;
  color: #FFF;
}

.mid-navigation {
  width: 1140px;
  height: 100px;
  background-color: #FFB133;
  margin: -115px 0 0 0;
}

.model-tab {
  margin: 15px 0 0 435px;
}

.model-text {
  width: 575px;
  margin: 0 0 0 0;
}

.model-text img {
  margin: 0 0 -125px -85px;
}

.model-text .text-margin {
  margin: 0 0 0 80px;
}

.nav-footer {
  height: 400px;
  margin: 5px 0 0 0;
}

.nav-footer ul  {
  margin: 0 50px 0 0;
  text-decoration: none;
}

.nav-footer ul li {
  text-decoration: none;
  list-style: none;

}

.nav-footer a {
  color: black;
  text-decoration: none;
}

.nav-footer h5 {
  font-weight: bold;
}

.nav-style {
  margin: -180px 0 0 195px;
}

.our_model.png {
  margin: 0 0 0 50px;
}

.our-model.png {
  margin: 0 40px 0 600px;
}

.right-side {
  margin: -495px 0 0 0;
  float: right;
}

.support-us {
  margin: 0 0 0 495px;
  padding: 15px 0 0 0;
}

.support-us > h3 {
  margin: -45px 0 0 85px;
}


.support.png {
  margin: 0 0 0 -20px;
}

.support-nav {
  margin: -83px 0 0 770px;
}

.trophy.png {
  margin: 0 0 0 0;
}

.textcloud.png {
  margin: 0 0 0 0;
}

.top_r2_c2.png {
  margin: 15px 0 0 0;
}

.volunteer {
  margin: 85px 0 0 245px;
  float: left;
  width: 250px;
}

img {
  max-width: 100%
  height: auto;
}
