a {

}

.row a.btn.btn-default {
  background-color: #E7EAED;
  color: #00355B;
  border-color: #00355B;
}

.last-wrapper a.btn.btn-default {
  border-color: #FFF;
  border: solid 2px;
  background-color: #006BBB;
  color: #FFF;
  background-blend-mode: darken;
  opacity: 0.90;
}

body {
  color: #E7EAED;
}


.address-info {
  width: 250px;
  margin: 15px 0 0 0;
}


.check.png {
  margin: 0 0 0 0;
}

.community-dev {

}

.development-tab p {
  padding: 5px 0 0 0;
}

div {
  margin: 0 0 0 0;
}

.donate {

}

.donate.png {

}

.donate > h3 {

}

.donate-today {
  margin: 85px 195px 0 0;
  float: right;
  width: 250px;
}

footer {
  background-color: #E7EAED;
  margin: 0 0 0 0;
  text-decoration: none;
  font-size: 0.80em;
  padding: 15px;
}

.headline-text h1 {
  font-family: "Times New Roman", sans-serif;
}

header {
  background-color: #006BBB;
  width: 100%;
  height: 150px;
  margin: 0 0 0 0;
  opacity: 0.95;
  position: absolute;
  top: 0;

}

header > img {
  margin: 15px 0 0 0;
  padding: 5px 0 0 0;
  border-style: solid;
  border-color: #FFF;
}



.headline-container {
  background-image: url("main-photo.jpg");
  background-size: cover;
  height: 944px;
  margin-top: -100px;

}

.headline-text {
  width: 415px;
  float: right;
  color: #00355B;
  margin: 295px -130px 0 0;
}

.headline-text h1 {
  font-size: 60px;
  font-stretch: semi-expanded;
}

.headline-text p {
  font-size: 16px;
}

.icons {
  float: left;
}

.last-wrapper {
  margin: 0 0 0 0;
  background-color: #006BBB;
  height: 370px;
  color: #FFF;
  background-image: url("wrapper-photo.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-blend-mode: darken;
  background-position: -331px -244px;
}

.last-wrapper::after {
  opacity: 0.5;
}

.last-wrapper h3 {
  font-family: "Times New Roman", sans-serif;
}

.last-wrapper p {
  font-size: 16px;
}

.leadership-nav {
  margin: -95px 0 0 350px;
}

.logo {
  display: block;
  padding: 20px 0 0 10px;
  margin: 0 0 0 -45px;
}

.main-navigation {
  font-family: "Times New Roman", sans-serif;
  margin: 65px 0 0 -196px;
}


.main-navigation ul li {
  display: inline;
  color: #FFF;
  margin: 0 15px 0 0;
  text-decoration: none;
  font-size: 1.55em;

}

.main-navigation ul li a  {
  text-decoration: none;
  color: #FFF;
}

.mid-navigation {
  height: 100px;
  background-color: #FFB133;
  margin-top: -50px;
}

.model-icon {
  float: left;
  padding-right: 10px;
}

.model-photo {
  margin: 0 0 0 445px;
  padding: 15px 15px 15px 15px;
}

.model-tab {
  margin: 15px 0 0 435px;
}

.model-text {
  margin: 0 0 0 0;
}

.model-text img {
  margin: 0 0 -125px -85px;
}

.model-text .text-margin {
  margin: 0 0 0 80px;
}

.nav-footer {
  height: 400px;
  margin: 5px 0 0 0;
  padding: 20px;
}

.nav-footer ul  {
  text-decoration: none;
}

.nav-footer ul li {
  text-decoration: none;
  list-style: none;

}

.nav-footer a {
  color: black;
  text-decoration: none;
}

.nav-footer h5 {
  font-weight: bold;
}

.nav-lead {
  font-weight: bold;
  font-size: 13px;
  padding: 5px 0 0 0;
}

.nav-style {
  margin: -180px 0 0 195px;
}

.our-model {
  margin: 0 0 0 0;
}

.our_model.png {
  margin: 0 0 0 50px;
}

.our-model.png {
  margin: 0 0 0 60px;
  padding: 5px 5px 5px 5px;
}

.right-side {
  margin: 0 0 0 0;
}

.support-us {
  margin: 0 0 0 0;
}

.support.png {

}

.support-nav {
  margin: -83px 0 0 770px;
}

.trophy.png {
  margin: 0 0 0 0;
}

.textcloud.png {
  margin: 0 0 0 0;
}

.top_r2_c2.png {

}

.volunteer {
  margin: 85px 0 0 245px;
  float: left;
  width: 250px;
}

img {
  max-width: 100%
  height: auto;
}
